
@media only screen and (max-width: 375px) {
  .modal-body {
    padding-left: 24px;
    padding-right: 24px;
  }
  .modal-body > p {
    padding: 0 10px;
  }

  .modal-hero img {
    min-height: 160px !important;
  }
}